{{template "base" .}}
{{define "title"}}home{{end}}
{{define "content"}}
<div class="container mt-4">
    <h2>Recently Played</h2>
    <!-- Add your content for Recently Played section -->

    <h2 class="mt-4">Made for You</h2>
    <!-- Add your content for Made for You section -->

    <h2 class="mt-4">Trending Music</h2>
    <!-- Add your content for Trending Music section -->

    <h2 class="mt-4">Artists You Should Know</h2>
    <!-- Add your content for Artists You Should Know section -->
</div>

{{end}}